html{
  font-size: 100%;
}

body {
    align-content:center;
}
p {
  color: #666666;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-size:1rem;
    line-height: 1.5rem;
}

.italic{
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

#nav {
  padding:0;
  list-style-type: none;
}
